@{
    ViewData["Title"] = "About OpenShift";
}
<h1>@ViewData["Title"]</h1>

<p>Red Hat® OpenShift® is a container platform for Kubernetes that can automate the provisioning, management and scaling of applications so that you can focus on writing the code for your next big idea.</p>
